<!DOCTYPE html>
<html lang="en">
  <head>
	  {% if messages %}
            {% for message in messages %}
                {% if message.tags %}
                    <script>alert("{{ message }}")</script>
                {% endif %}
			{% endfor %}
      {% endif %}
    <title>FarmersHub</title>

  </head>
<body>
    <section class="ftco-section">
    <div>
      <p>
        <h1>Dashboard</h1>
      </p>
    </div>
      <div>
        <p>Welcome {{usr.email}}</p>

      </div>
    </section>
</body>
</html>