<aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="profile.html"><img class="img-circle" src="/static/usrimg/{{usr.id}}.png" width="80"></a></p>
          <h5 class="centered">{{usr.email}}</h5>
          <h5 class="centered">{{usr.type}}</h5>


            <li class="mt">
            <a href="javascript:;">
              <i class="fa fa-dashboard"></i>
              <span>Post Feeds</span>
            </a>
          </li>
          <li class="sub-menu">
            <a  href="javascript:;">
              <i class="fa fa-dashboard"></i>
              <span>Surpluse Market</span>
              </a>
          </li>


          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-th"></i>
              <span>Package Dispatch Manager</span>
              </a>
          </li>

          <li  class="sub-menu">
            <a {% if active == 'Messages' %} class="active" {% endif %}  href='/Messages/' >
              <i class="fa fa-envelope"></i>
              <span>Messages</span>
              <span class="label label-theme pull-right mail-info">2</span>
            </a>
        </li>

          <li class="sub-menu">
            <a href="/Profile/">
              <i class="fa fa-desktop"></i>
              <span>My Profile</span>
              </a>
           </li>

          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-cogs"></i>
              <span>My Earnings</span>
              </a>
          </li>

          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-book"></i>
              <span>My Customers</span>
              </a>
          </li>

          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-tasks"></i>
              <span>Contracts Manager</span>
              </a>
            <ul class="sub">
              <li><a href="morris.html">New contact Request</a></li>
              <li><a href="chartjs.html">Active Contracts</a></li>
              <li><a href="flot_chart.html">ceased contracts</a></li>
              <li><a href="xchart.html">Add contracts</a></li>
            </ul>
          </li>

          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-th"></i>
              <span>Customer Reviews</span>
              </a>
          </li>


          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-comments-o"></i>
              <span>Chat Room</span>
              </a>
          </li>

            <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-tasks"></i>
              <span>Learn Farming</span>
              </a>
            </li>

          <li>
            <a href="#">
              <i class="fa fa-map-marker"></i>
              <span>Settings</span>
              </a>
          </li>
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->
