    <aside>
      <div id="sidebar" class="nav-collapse ">
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="profile.html"><img class="img-circle"  src="/static/usrimg/{{usr.id}}.png"  width="80"></a></p>
          <h5 class="centered">{{usr.name}}</h5>
          <h5 class="centered">{{usr.type}}</h5>
          <h5 class="centered">{{usr.locality}}</h5>

          <li class="sub-menu">
            <a {% if content_view == 'Explore_Farmers' %} class="active" {% endif %} href="/Explore/">
              <i class="fa fa-desktop"></i>
              <span>Explore Farmers</span>
              </a>
          </li>

          <li class="sub-menu">
            <a {% if content_view == 'My_Farmers' %} class="active" {% endif %} href="/My_Farmers/">
              <i class="fa fa-cogs"></i>
              <span>My Farmers</span>
              </a>
          </li>

          <li class="sub-menu">
            <a {% if content_view == 'My_Contracts' %} class="active" {% endif %} href="/My_Contracts/">
              <i class="fa fa-book"></i>
              <span>My Contracts</span>
              </a>
          </li>

<!--          <li class="sub-menu">-->
<!--            <a {% if content_view == 'Surpluse_Market' %} class="active" {% endif %}  href="/Surpluse_Market/">-->
<!--              <i class="fa fa-dashboard"></i>-->
<!--              <span>Surpluse Market</span>-->
<!--              </a>-->
<!--          </li>-->

<!--          <li>-->
<!--            <a {% if content_view == 'Messages' %} class="active" {% endif %} href="/Messages/">-->
<!--              <i class="fa fa-envelope"></i>-->
<!--              <span>Massages</span>-->
<!--              <span class="label label-theme pull-right mail-info">6</span>-->
<!--            </a>-->
<!--        </li>-->

          <li class="sub-menu">
            <a {% if content_view == 'Learn_Farming' %} class="active" {% endif %} href="/Learn_Farming/">
              <i class="fa fa-tasks"></i>
              <span>Learn Farming</span>
              </a>
          </li>

          <li class="sub-menu">
            <a {% if content_view == 'Delivery_Conformation' %} class="active" {% endif %}  href="/Delivery_Conformation/">
              <i class="fa fa-th"></i>
              <span>Delivery Conformation</span>
              </a>
          </li>

          <li class="sub-menu">
            <a {% if content_view == 'Settings' %} class="active" {% endif %} href="/Settings/">
              <i class="fa fa-cogs"></i>
              <span>Settings</span>
              </a>
          </li>

        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->
