<section id="main-content">
      <section class="wrapper">
              {%for i in far %}
                <div class="col-lg-4 col-md-4 col-sm-4 mb">
                        <div class="content-panel pn">
                                <div style="background-image: url('/static/usrimg/2.png');" id="spotify">
                                        <div class="col-xs-4 col-xs-offset-8">

                                        </div>
                                        <div class="sp-title">
                                                <h3>LORDE</h3>
                                        </div>
                                        <div class="play">
                                                <i class="fa fa-play-circle"></i>
                                        </div>
                                </div>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>

                        </div>
                </div>
{% endfor %}
</section>
</section>