<section id="main-content">
      <section class="wrapper">
        <br><p></p>
              {%for f in farmers %}
              <div class="col-lg-4 col-md-4 col-sm-4 mb">
                <!-- WHITE PANEL - TOP USER -->
                <div class="white-panel pn">
                  <p><img src="/static/usrimg/{{f.id}}.png" class="img-circle" width="50"></p>
                  <p><b>{{f.name}}</b></p>
                  <p>{{f.locality}}</p>
                  <div class="row">
                    <div class="col-md-6">
                      <p class="small mt">MEMBER SINCE</p>
                      <p>2012</p>
                    </div>
                    <div class="col-md-6">
                      <p class="small mt">Currently Serving</p>
                      <p>23<span>customers</span></p>
                    </div>
                  </div>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                </div>
              </div>
              {% endfor %}
</section>
</section>
