<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    </head>
<body>
<form method="post" action="/signup/"> {% csrf_token %}
    email:<input type="email" name="email">
    password:<input type="password" name="pwd">
    <input type="submit" name="signup" value="save user">
    <br>
    {{msg}}
    {% if messages %}
        {% for message in messages %}
         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

        {% endfor %}

    {% endif %}
</form>

</body>
</html>